In [1]:
#bibliothèque nécessaire
import pandas as pd


# 1) CHARGEMENT DES DONNÉES

df = pd.read_csv('../data/raw/train_dataset.csv')

# 2) NETTOYAGE DES DONNÉES .

    #-recherche de valeurs manquantes
#print(df.isnull()) # on remarque qu'il y a pas de valeur manquante dans notre dataset.

    #--passons à l'identification et la suppression des outliers ou données aberrantes
        # Calcul de l'IQR
Q1 = df['Temperature[C]'].quantile(0.25)
Q3 = df['Temperature[C]'].quantile(0.75)
IQR = Q3 - Q1

        # Identification des outliers avec l'IQR
outliers = df[(df['Temperature[C]'] < Q1 - 1.5 * IQR) | (df['Temperature[C]'] > Q3 + 1.5 * IQR)]

        # Suppression des outliers
df_clean = df[~df.index.isin(outliers.index)]

# Convertir la colonne 'UTC' en datetime
df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )



# Enregistrer le DataFrame dans un fichier CSV
df_clean.to_csv("../data/processed/clean_data.csv", index=False)

/usr/lib/python3/dist-packages/pytz/__init__.py:30: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)
/tmp/ipykernel_16377/341347939.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )

In [2]:


import pandas as pd
import numpy as np

# Charger les données en DataFrame
data = pd.read_csv("../data/raw/smoke_detection_iot.csv")
from autoviz.AutoViz_Class  import AutoViz_Class

AV = AutoViz_Class()
#AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
              #,max_cols_analyzed=data.shape[1])

# Fonction pour détecter et supprimer les outliers en utilisant la méthode des boîtes à moustaches
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

# Fonction pour détecter et supprimer les outliers en utilisant le score Z
def remove_outliers_zscore(df, column):
    z_scores = np.abs((df[column] - df[column].mean()) / df[column].std())
    threshold = 3
    df = df[z_scores < threshold]
    return df

# Liste des colonnes numériques
numerical_cols = ['Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM1.0','PM2.5','NC0.5','NC1.0','NC2.5']

# Supprimer les outliers pour chaque colonne numérique en utilisant les deux méthodes
for col in numerical_cols:
    data = remove_outliers_iqr(data, col)
    data = remove_outliers_zscore(data, col)

# ... suite du code

data['UTC'] = pd.to_datetime(data['UTC'], unit='s')

# Sauvegarder le dataset nettoyé
data.to_csv("../data/processed/clean_dataset_.csv", index=False)

#Implémentation du nettoyage grâce au score z pour éliminer les outliers restant dans la dataset




print("\n\n -------------------------------------- après le nettoyage --------------------------------- \n \n ")

AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
              ,max_cols_analyzed=data.shape[1])

 -------------------------------------- après le nettoyage ---------------------------------


Shape of your Data Set loaded: (42385, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  1
    Number of ID Columns =  1
    Number of Columns to Delete =  0
    15 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0']
Since Number of Rows in data 42385 exceeds maximum, randomly sampling 42385 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 36
Could not draw some Time Series plots. 'NoneType' object has no attribute 'suptitle'
All Plots done
Time to run AutoViz = 15 seconds

 ###################### AUTO VISUALIZATION Completed ########################

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
42005,2022-06-09 12:39:14,25.960,47.23,1164,413,12884,19442,938.790,2.25,2.34,15.47,2.413,0.054,17011,1
58818,2022-06-13 13:17:20,-4.648,47.60,125,413,12781,20596,937.377,1.82,1.89,12.53,1.955,0.044,1932,0
29623,2022-06-09 09:12:52,21.960,49.92,25,400,13259,20188,939.661,2.16,2.24,14.86,2.317,0.052,4629,1
52929,2022-06-08 18:46:14,28.870,41.24,118,404,12779,20601,937.402,1.95,2.03,13.43,2.095,0.047,1787,0
24495,2022-06-09 06:57:06,-1.277,48.54,1323,401,12990,19401,938.802,1.94,2.02,13.37,2.086,0.047,24495,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60050,2022-06-13 13:37:52,18.789,42.49,192,420,12770,20525,937.368,1.63,1.70,11.25,1.754,0.040,3164,0
46154,2022-06-09 13:48:23,24.800,52.24,1304,409,12945,19391,938.683,1.77,1.84,12.18,1.899,0.043,21160,1
44454,2022-06-09 13:20:03,26.990,47.84,1140,400,12930,19436,938.656,1.55,1.61,10.65,1.660,0.037,19460,1
29674,2022-06-09 09:13:43,19.820,54.03,56,400,13241,20159,939.670,2.08,2.16,14.33,2.235,0.050,4680,1
2887,2022-06-09 00:56:58,12.990,51.90,125,400,13179,20055,939.640,0.97,1.01,6.70,1.045,0.024,2887,0