In [1]:
#bibliothèque nécessaire

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

# 1) CHARGEMENT DES DONNÉES

df = pd.read_csv('../data/raw/train_dataset.csv')

# 2) NETTOYAGE DES DONNÉES .

    #-recherche de valeurs manquantes
#print(df.isnull()) # on remarque qu'il y a pas de valeur manquante dans notre dataset.

    #--passons à l'identification et la suppression des outliers ou données aberrantes
        # Calcul de l'IQR
Q1 = df['Temperature[C]'].quantile(0.25)
Q3 = df['Temperature[C]'].quantile(0.75)
IQR = Q3 - Q1

        # Identification des outliers avec l'IQR
outliers = df[(df['Temperature[C]'] < Q1 - 1.5 * IQR) | (df['Temperature[C]'] > Q3 + 1.5 * IQR)]

        # Suppression des outliers
df_clean = df[~df.index.isin(outliers.index)]

# Convertir la colonne 'UTC' en datetime
df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )



# Enregistrer le DataFrame dans un fichier CSV
df_clean.to_csv("../data/processed/clean_data.csv", index=False)

/usr/lib/python3/dist-packages/pytz/__init__.py:30: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)
/tmp/ipykernel_10588/2049244000.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Charger les données en dataF²rame
data = pd.read_csv("../data/raw/smoke_detection_iot.csv")

# Fonction pour détecter et supprimer les outliers en utilisant la méthode des boîtes à moustaches
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

from autoviz.AutoViz_Class  import AutoViz_Class



AV = AutoViz_Class()
AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
               ,max_cols_analyzed=data.shape[1])

# Liste des colonnes numériques
numerical_cols = ['Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM1.0','PM2.5','NC0.5','NC1.0','NC2.5']

# Supprimer les outliers pour chaque colonne numérique
for col in numerical_cols:
    data = remove_outliers(data, col)



# Sauvegarder le dataset nettoyé
data.to_csv("../data/processed/clean_dataset_.csv", index=False)




print("\n\n -------------------------------------- après le nettoyage --------------------------------- \n \n ")

AV = AutoViz_Class()
AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
               ,max_cols_analyzed=data.shape[1])

Shape of your Data Set loaded: (62630, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 62630 exceeds maximum, randomly sampling 62630 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 16 seconds

 ###################### AUTO VISUALIZATION Completed ########################


 -------------------------------------- après le nettoyage ---------------------------------


Shape of your Data Set loaded: (43463, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 43463 exceeds maximum, randomly sampling 43463 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 14 seconds

 ###################### AUTO VISUALIZATION Completed ########################

,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
14447,15.509,52.74,1107,466,12861,19452,938.908,1.93,2.01,13.31,2.075,0.047,14447,0
51765,27.700,46.75,25,400,12839,20730,937.492,2.20,2.29,15.16,2.364,0.053,623,1
17254,15.167,49.65,1228,417,12883,19429,938.802,1.61,1.67,11.08,1.728,0.039,17254,0
26787,19.030,48.03,33,400,13127,20009,939.626,0.82,0.85,5.66,0.883,0.020,1793,1
33632,18.460,56.42,356,400,13082,19901,939.315,0.42,0.44,2.91,0.454,0.010,8638,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44990,26.850,48.25,1176,400,12938,19438,938.718,1.79,1.86,12.35,1.926,0.043,19996,0
43290,24.480,53.68,1195,410,12907,19428,938.689,1.51,1.57,10.38,1.618,0.037,18296,0
29073,19.890,53.55,127,400,13220,20086,939.614,2.19,2.28,15.10,2.354,0.053,4079,0
59566,13.581,42.56,174,424,12774,20550,937.349,1.74,1.81,11.97,1.867,0.042,2680,1
2868,13.222,50.83,132,400,13162,20039,939.640,0.79,0.82,5.41,0.843,0.019,2868,1