In [1]:


import pandas as pd
import numpy as np

# Charger les données en DataFrame
data = pd.read_csv("../data/raw/smoke_detection_iot.csv")
from autoviz.AutoViz_Class  import AutoViz_Class

AV = AutoViz_Class()
AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
              ,max_cols_analyzed=data.shape[1])

# Fonction pour détecter et supprimer les outliers en utilisant la méthode des boîtes à moustaches
def remove_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

# Fonction pour détecter et supprimer les outliers en utilisant le score Z
def remove_outliers_zscore(df, column):
    z_scores = np.abs((df[column] - df[column].mean()) / df[column].std())
    threshold = 2.4
    df = df[z_scores < threshold]
    return df

# Liste des colonnes numériques
numerical_cols = ['Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM1.0','PM2.5','NC0.5','NC1.0','NC2.5']

# Supprimer les outliers pour chaque colonne numérique en utilisant les deux méthodes
for col in numerical_cols:
    data = remove_outliers_iqr(data, col)
    data = remove_outliers_zscore(data, col)

# ... suite du code

data['UTC'] = pd.to_datetime(data['UTC'], unit='s')

# Sauvegarder le dataset nettoyé
data.to_csv("../data/processed/clean_dataset_.csv", index=False)

#Implémentation du nettoyage grâce au score z pour éliminer les outliers restant dans la dataset




print("\n\n -------------------------------------- après le nettoyage --------------------------------- \n \n ")

AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
              ,max_cols_analyzed=data.shape[1])

/usr/lib/python3/dist-packages/pytz/__init__.py:30: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)

Imported v0.1.905. Please call AutoViz in this sequence:
    AV = AutoViz_Class()
    %matplotlib inline
    dfte = AV.AutoViz(filename, sep=',', depVar='', dfte=None, header=0, verbose=1, lowess=False,
               chart_format='svg',max_rows_analyzed=150000,max_cols_analyzed=30, save_plot_dir=None)
Shape of your Data Set loaded: (62630, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 62630 exceeds maximum, randomly sampling 62630 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 28 seconds

 ###################### AUTO VISUALIZATION Completed ########################


 -------------------------------------- après le nettoyage ---------------------------------


Shape of your Data Set loaded: (39917, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  1
    Number of ID Columns =  1
    Number of Columns to Delete =  0
    15 Predictors classified...
        1 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0']
Since Number of Rows in data 39917 exceeds maximum, randomly sampling 39917 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
    All variables classified into correct types.

Total Number of Scatter Plots = 36
Could not draw some Time Series plots. 'NoneType' object has no attribute 'suptitle'
All Plots done
Time to run AutoViz = 26 seconds

 ###################### AUTO VISUALIZATION Completed ########################

,UTC,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
29029,2022-06-09 09:02:58,22.220,48.38,141,400,13216,20082,939.683,1.60,1.67,11.03,1.721,0.039,4035,1
52915,2022-06-08 18:46:00,28.490,42.34,91,400,12783,20630,937.396,1.98,2.06,13.65,2.129,0.048,1773,0
58524,2022-06-13 13:12:26,-4.954,47.72,97,409,12777,20624,937.424,1.65,1.72,11.38,1.774,0.040,1638,0
51387,2022-06-08 18:20:32,27.050,44.78,47,429,12836,20727,937.560,2.11,2.19,14.50,2.261,0.051,245,0
41155,2022-06-09 12:25:04,26.990,47.56,1197,415,12882,19431,938.771,1.67,1.74,11.52,1.796,0.041,16161,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29763,2022-06-09 09:15:12,22.450,47.89,18,400,13259,20195,939.652,2.48,2.57,17.05,2.659,0.060,4769,1
46916,2022-06-09 14:01:05,26.940,47.89,1331,400,12960,19389,938.739,1.95,2.03,13.43,2.095,0.047,21922,1
45207,2022-06-09 13:32:36,24.410,53.61,1122,400,12943,19443,938.722,2.04,2.12,14.04,2.189,0.049,20213,1
30249,2022-06-09 09:23:18,20.360,50.95,21,400,13249,20206,939.693,3.09,3.21,21.23,3.311,0.075,5255,1
3007,2022-06-09 00:58:58,11.511,49.69,159,400,13154,20009,939.653,0.68,0.71,4.70,0.733,0.017,3007,0