In [1]:
#bibliothèque nécessaire

import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

# 1) CHARGEMENT DES DONNÉES

df = pd.read_csv('../data/raw/train_dataset.csv')

# 2) NETTOYAGE DES DONNÉES .

    #-recherche de valeurs manquantes
#print(df.isnull()) # on remarque qu'il y a pas de valeur manquante dans notre dataset.

    #--passons à l'identification et la suppression des outliers ou données aberrantes
        # Calcul de l'IQR
Q1 = df['Temperature[C]'].quantile(0.25)
Q3 = df['Temperature[C]'].quantile(0.75)
IQR = Q3 - Q1

        # Identification des outliers avec l'IQR
outliers = df[(df['Temperature[C]'] < Q1 - 1.5 * IQR) | (df['Temperature[C]'] > Q3 + 1.5 * IQR)]

        # Suppression des outliers
df_clean = df[~df.index.isin(outliers.index)]

# Convertir la colonne 'UTC' en datetime
df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )



# Enregistrer le DataFrame dans un fichier CSV
df_clean.to_csv("../data/processed/clean_data.csv", index=False)

/usr/lib/python3/dist-packages/pytz/__init__.py:30: SyntaxWarning: invalid escape sequence '\s'
  match = re.match("^#\s*version\s*([0-9a-z]*)\s*$", line)
/tmp/ipykernel_10588/2049244000.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_clean['UTC'] = pd.to_datetime(df['UTC'], unit='s' )

In [2]:
import pandas as pd
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns

# Charger les données en dataF²rame
data = pd.read_csv("../data/raw/smoke_detection_iot.csv")

# Fonction pour détecter et supprimer les outliers en utilisant la méthode des boîtes à moustaches
def remove_outliers(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df = df[(df[column] >= lower_bound) & (df[column] <= upper_bound)]
    return df

from autoviz.AutoViz_Class  import AutoViz_Class



AV = AutoViz_Class()
AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
               ,max_cols_analyzed=data.shape[1])

# Liste des colonnes numériques
numerical_cols = ['Temperature[C]','Humidity[%]','TVOC[ppb]','eCO2[ppm]','Raw H2','Raw Ethanol','Pressure[hPa]','PM1.0','PM2.5','NC0.5','NC1.0','NC2.5']

# Supprimer les outliers pour chaque colonne numérique
for col in numerical_cols:
    data = remove_outliers(data, col)



# Sauvegarder le dataset nettoyé
data.to_csv("../data/processed/clean_dataset_.csv", index=False)




print("\n\n -------------------------------------- après le nettoyage --------------------------------- \n \n ")

AV = AutoViz_Class()
AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
               ,max_cols_analyzed=data.shape[1])
for col in numerical_cols:
    data = remove_outliers(data, col)

AV.AutoViz(filename='',dfte=data,depVar='Fire Alarm',verbose=1,max_rows_analyzed=data.shape[0]
               ,max_cols_analyzed=data.shape[1])

Shape of your Data Set loaded: (62630, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 62630 exceeds maximum, randomly sampling 62630 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 25 seconds

 ###################### AUTO VISUALIZATION Completed ########################


 -------------------------------------- après le nettoyage ---------------------------------


Shape of your Data Set loaded: (43463, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 43463 exceeds maximum, randomly sampling 43463 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 20 seconds

 ###################### AUTO VISUALIZATION Completed ########################
Shape of your Data Set loaded: (35595, 16)
#######################################################################################
######################## C L A S S I F Y I N G  V A R I A B L E S  ####################
#######################################################################################
Classifying variables in data set...
    Number of Numeric Columns =  8
    Number of Integer-Categorical Columns =  5
    Number of String-Categorical Columns =  0
    Number of Factor-Categorical Columns =  0
    Number of String-Boolean Columns =  0
    Number of Numeric-Boolean Columns =  0
    Number of Discrete String Columns =  0
    Number of NLP String Columns =  0
    Number of Date Time Columns =  0
    Number of ID Columns =  2
    Number of Columns to Delete =  0
    15 Predictors classified...
        2 variable(s) removed since they were ID or low-information variables
        List of variables removed: ['Unnamed: 0', 'UTC']
Since Number of Rows in data 35595 exceeds maximum, randomly sampling 35595 rows for EDA...

################ Binary_Classification problem #####################
To fix these data quality issues in the dataset, import FixDQ from autoviz...
There are 2 duplicate rows in your dataset
    Alert: Dropping duplicate rows can sometimes cause your column data types to change to object!
    All variables classified into correct types.

Total Number of Scatter Plots = 36
All Plots done
Time to run AutoViz = 19 seconds

 ###################### AUTO VISUALIZATION Completed ########################

,Temperature[C],Humidity[%],TVOC[ppb],eCO2[ppm],Raw H2,Raw Ethanol,Pressure[hPa],PM1.0,PM2.5,NC0.5,NC1.0,NC2.5,CNT,Fire Alarm
42795,24.800,52.35,1099,400,12908,19456,938.711,2.02,2.10,13.89,2.167,0.049,17801,0
42221,26.570,49.65,1145,400,12900,19444,938.795,1.50,1.56,10.32,1.610,0.036,17227,0
3743,2.452,47.58,224,400,13159,19990,939.682,1.93,2.00,13.26,2.068,0.047,3743,0
49977,26.840,48.22,1323,415,12988,19404,938.857,1.64,1.70,11.26,1.756,0.040,24983,0
3391,6.723,54.65,280,400,13139,19942,939.666,1.87,1.94,12.85,2.004,0.045,3391,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32362,19.970,56.23,239,400,13140,20022,939.472,0.52,0.54,3.58,0.558,0.013,7368,0
51826,28.110,45.82,57,417,12801,20709,937.522,2.37,2.46,16.31,2.544,0.057,684,1
48663,27.020,47.73,1316,400,12979,19385,938.714,1.69,1.76,11.65,1.816,0.041,23669,0
32848,18.510,55.44,308,400,13108,19955,939.434,0.26,0.27,1.77,0.276,0.006,7854,0
2941,12.327,52.05,152,400,13152,20018,939.632,0.81,0.84,5.56,0.867,0.020,2941,1

In [3]:
print("bonjour")

bonjour